@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  --clr-primary--300: hsl(167, 40%, 24%);
  --clr-primary--500: hsl(198, 62%, 26%);
  --clr-primary--900: hsl(168, 34%, 41%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --clr-neutral--300: hsl(210, 4%, 67%);
  --clr-neutral--500: hsl(232, 10%, 55%);
  --clr-neutral--700: hsl(213, 9%, 39%);
  --clr-neutral--900: hsl(212, 27%, 19%);
  --clr-accent--300: #3ebfff;
  --clr-accent--500: hsl(51, 100%, 49%);
  --clr-accent--900: hsl(7, 17%, 37%);
  --ff-primary: 'Barlow', sans-serif;
  --ff-accent: 'Fraunces', serif;
  --br: 1.7em;
  --br-elements: 0.8em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/*------ Body Styling------*/
body {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-size: 18px;
  background-color: aquamarine;

}



.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}



.incentive {
  color: var(--clr-neutral--100);
  font-family: var(--ff-accent);

}

.nav_container {
  position: absolute;
  top: 0;
  /* background-color: var(--clr-accent--300); */
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 5rem;
}

.logo_container {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
  padding-left: 1.5rem;
}

.nav {
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  list-style: none;

  /* justify-content: space-between; */
}

.nav li:not(:first-child) {
  margin-left: 2rem;
}

.nav li a {
  text-decoration: none;

}

.nav li a:not(:last-child) {
  color: var(--clr-neutral--100);
}

.contact {
  /* color: var(--clr-accent--300); */
  background-color: var(--clr-neutral--100);
  padding: 0.5rem 1.5rem;
  border-radius: var(--br);

}

.contact a {
  color: var(--clr-neutral--900);
  font-family: var(--ff-accent);
}

.contact::before {
  background-color: var(--clr-neutral--100);
}