@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  --clr-primary--300: hsl(167, 40%, 24%);
  --clr-primary--500: hsl(198, 62%, 26%);
  --clr-primary--900: hsl(168, 34%, 41%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --clr-neutral--300: hsl(210, 4%, 67%);
  --clr-neutral--500: hsl(232, 10%, 55%);
  --clr-neutral--700: hsl(213, 9%, 39%);
  --clr-neutral--900: hsl(212, 27%, 19%);
  --clr-accent--300: #3ebfff;
  --clr-accent--500: #fad400;
  --clr-accent--900: #6e524e;
  --ff-primary: 'Barlow', sans-serif;
  --ff-accent: 'Fraunces', serif;
  --br: 1.7em;
  --br-elements: 0.8em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/*------ Body Styling------*/
body {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-size: 18px;
  background-color: var(--clr-neutral--100);

}

/*------ Header Styling------*/
.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.incentive {
  position: absolute;
  top: 25%;
  color: var(--clr-neutral--100);
  font-family: var(--ff-accent);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

/*------ Navigator Styling------*/
.nav_container {
  position: absolute;
  top: 0;
  background-color: var(--clr-accent--300);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 5rem;
}

.logo_container {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
  padding-left: 1.5rem;
}

.nav {
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  list-style: none;
  font-size: 0.8rem;
}

.nav li:not(:first-child) {
  margin-left: 2rem;
}

.nav li>a {
  text-decoration: none;
  color: var(--clr-neutral--100);
}

/*------ Contact button Styling------*/
.contact {
  background-color: var(--clr-neutral--100);
  padding: 0.5rem 1.5rem;
  border-radius: var(--br);
}

.contact a {
  color: var(--clr-neutral--900);
  font-family: var(--ff-accent);
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  /* padding-top: 4rem; */
}

/*------ Main Container Styling------*/
.descriptions_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25rem 25rem 25rem;
}

.transformation_image {
  background-color: var(--clr-accent--500);
  background-image: url('../images/desktop/image-transform.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stand_out_image {
  background-color: var(--clr-accent--500);
  background-image: url('../images/desktop/image-stand-out.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.block {
  justify-self: center;
  align-self: center;
  width: 67%;

}

.content_holder {
  height: 100%;

}

.block_title {
  font-family: var(--ff-accent);
  color: var(--clr-neutral--900);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
  font-weight: 900;
}

.block_text {
  display: block;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 2;
  color: var(--clr-neutral--700);
  /* padding-bottom: 3rem; */
}

.block_link {
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-weight: 600;
  font-size: 0.9rem;
  display: inline;
  padding-top: 3rem;

}

.transformation_link {
  position: relative;
  display: inline-block;
}

.transformation_link::before {
  content: '';
  border-bottom: solid 10px #ffdd1f62;
  border-radius: var(--br);
  position: absolute;
  left: -7px;
  right: -7px;
  top: 92%;
  z-index: -1;
}

.stand_out_link {
  position: relative;
  display: inline-block;
}

.stand_out_link::before {
  content: '';
  border-bottom: solid 10px #ff786352;
  border-radius: var(--br);
  position: absolute;
  left: -7px;
  right: -7px;
  top: 92%;
  z-index: -1;
}